* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)),
    url("./assets/pexels.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.list {
  display: flex;
  list-style: none;
  color: #ffc233;
}

.list-item {
  margin-right: 40px;
}

.button-small {
  color: #fff;
  padding: 7px 40px;
  background-color: #ff505f;
  border-color: transparent;
  font-weight: 700;
}

.hero {
  position: absolute;
  left: 13%;
  top: 15%;
}

.hero-heading {
  font-size: 140px;
  color: #ffc233;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.button-l {
  text-align: center;
  margin-top: 20px;
}

.button-large {
  padding: 23px 50px;
  background: #ff505f;
  border-style: none;
  color: #fff;
  font-size: 50px;
}
